<?xml version="1.0"?>
<model>
  <name>strawberry_ripe</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Pravin Oli</name>
    <email>pravin.oli.08@gmail.com</email>
  </author>
  <description>Strawberry plant — ripe (red berries) — pickable.</description>
</model>
