<?xml version="1.0"?>
<model>
  <name>bed</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Pravin Oli</name>
    <email>pravin.oli.08@gmail.com</email>
  </author>
  <description>Raised mulch bed (mesh): crowned trapezoid, plastic-mulch top +
  soil sides, 10 m x 1 m x 0.5 m. Planting holes added later at plant positions.</description>
</model>
