<?xml version="1.0"?>
<model>
  <name>soil_ground</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Pravin Oli</name>
    <email>pravin.oli.08@gmail.com</email>
  </author>
  <description>Soil-textured ground plane (26 x 26 m) for the farm floor.</description>
</model>
